<mat-toolbar color="primary">  
    <button mat-icon-button color="accent" aria-label="menu" (click)="back()" >  
       <mat-icon>keyboard_arrow_left</mat-icon>  
    </button>  
    <span>Pokemon</span>  
</mat-toolbar>
<div class="container text-center">
    <img src={{image}} class="rounded mx-auto d-block img-fluid" alt={{name}}>
    <p class="h1 m-3">{{name}}</p>
    <p class="h6 m-1">{{experience}} <br>Nivel Experiencia</p>
    <p>{{description}}</p>
    <a routerLink="/especificaciones/{{pokemonid}}" class="btn btn-primary m-3">Ver Especificaciones</a>
</div>
